doctype html
html(lang='en')
  head
    title Twitter interface
    link(rel='stylesheet', href='/static/stylesheets/global.css')
  body
    include includes/mainheader
    .bounds.app--body
      .app--section--header
        include includes/headers/timelineheader
        include includes/headers/followingheader
        include includes/headers/dmheader
      include includes/timeline
      include includes/following
      include includes/dm
    include includes/tweet
