doctype html
html(lang='en')
  head
    title Twitter interface
    link(rel='stylesheet', href='/static/stylesheets/global.css')
  body
    include includes/header
    block main
    include includes/footer
